<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Glitch!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  
  
  
  <body class="ui container">
    
    
    <header>
      <h1 class="ui header">Exercise Tracker</h1>
    </header>
    
    

    <main>

        <div class="ui stackable two column grid">
<!--           <div class="row">   -->
              <div class="column">
                <form method="post" action="/api/exercise/new-user">
                  <label>
                    <h2 class="ui header">
                      Create a User
                    </h2>
                    <div class="ui action input">
                      <input  name="userId" type="text" maxlength="100" placeholder="User ID" required>
                      <button class="ui primary button" type="submit">Add User</button>
                    </div>
                  </label>
                </form>
              </div>
              <div class="column">
                <h2 class="ui header">
                  Add Workout
                </h2>
                <form id="addWorkout" method="post" action="/api/exercise/add">
                  <label>
                    <div class="ui input fluid">
                      <input name="userId" type="text" maxlength="100" required
                             placeholder="User ID">
                    </div>
                  </label>
                  <label>
                    <div class="ui input fluid">
                      <input name="description" type="text" maxlength="100"
                             placeholder="Workout Description">
                    </div>
                  </label>
                  <label>
                    <div class="ui input fluid">
                      <input name="duration" type="text" maxlength="100"
                             placeholder="Workout Duration (min)">
                    </div>
                  </label>
                  <label>
                    <div class="ui input fluid">
                      <input name="date" type="text" maxlength="100"
                             placeholder="Workout Date (yyyy-mm-dd)">
                    </div>
                  </label>
                  <br>
                  <button class="ui fluid primary button" type="submit">Add Workout</button>
                </form>
              </div>
<!--             </div> -->
        </div>
      
      
        
    </main>
    
    
    

  </body>
</html>
