body {
  padding: 12px 0 0 0;
}

header {
  margin-bottom: 25px;
}

header h1 {
  font-weight: heavy;
  text-transform: uppercase;
  font-size: .75em
}

form#addWorkout input {
  margin-bottom: 10px;
}

.hidden {
  display:none;
}

@media screen and (min-width: 768px) {
  body {
    padding: 24px 0 0 0 ;
  }
}